{{#each sortContentsByOrder as |content|}}
  <ul class="nav">
    <li class="nav-item">
      {{link-to content.title 'content.edit' content.chapter content class='content'}}
    </li>
  </ul>
{{/each}}
