<header class="navbar bg-gray">
  <section class="navbar-section">
    <a href="#sidebar" class="btn btn-lg btn-link btn-action show-sm"><i class="icon icon-menu"></i></a>
    {{link-to 'Course Builder' 'main' class="navbar-brand mr-10"}}
    {{link-to 'My courses' 'courses' class="btn btn-link"}}
  </section>
  <section class="navbar-section">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" tabindex="0">{{session.currentUser.name}}<i class="icon icon-caret"></i></a>
      <ul class="menu">
        <li class="menu-item">
          <a href="#">
            Settings
          </a>
        </li>
        <li class="menu-item">
          <a href="#" {{action 'logout'}}>Logout</a>
        </li>
      </ul>
    </div>
  </section>
</header>
