<div class="card">
  <div class="card-image">
    <img src="https://picturepan2.github.io/spectre/img/osx-el-capitan.jpg" class="img-responsive" />
  </div>
  <div class="card-header">
    <h4 class="card-title">Get Started</h4>
  </div>
  <div class="card-body">
    Click the button below to create a new course!
  </div>
  <div class="card-footer">
    {{link-to 'New course' 'main.courses.new' class="btn btn-primary btn-new-course"}}
  </div>
</div>
