<div class="columns">
  <div class="column col-6 col-sm-12">
    <ul class="tab tab-block">
      <li class="tab-item">
        {{link-to 'Curriculum' 'chapters.new' model}}
      </li>
      <li class="tab-item">
        {{link-to 'Settings' 'course.edit' model}}
      </li>
    </ul>
  </div>
</div>
{{
  course-form title="Editing course"
    changeset=(changeset model CourseValidations)
    save=(action 'save')
    rollback=(action 'rollback')
}}
