<div class="columns">
  <div class="column col-3">
  </div>
  {{#each model as |chapter|}}
    <div class="column col-3">
      <p>Name: {{chapter.name}}</p>
      <p>Course: {{chapter.course.name}}</p>
    </div>
  {{/each}}
</div>
