<div class="container">
  <div class="columns col-gapless">
    <div class="column col-4"></div>
    <div class="column col-4">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">Log-in</div>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label class="form-label" for="username">Username</label>
              <input class="form-input username-field" type="text" id="username" placeholder="Use your unique username" />
            </div>
            <div class="form-group">
              <label class="form-label" for="password">Password</label>
              <input class="form-input password-field" type="text" id="password" placeholder="Use your unique password" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Let's go!</button>
            </div>
          </form>
        </div>
        <br>
      </div>
    </div>
    <div class="column col-4"></div>
  </div>
</div>
